.Event-Container{
    background-color: white;
    padding:1vh;
    padding-left:3vh;
    padding-right:3vh;
    width: 30vw;
    margin: auto;
    border-radius: 15px;
    background-image: url("Images/Agadir.jpeg");
    background-size: cover;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 3vw;
    translate: -1vw;
}
.Event-Container:hover{
    box-shadow: 0px 0px 100px rgb(66, 66, 66);
    backdrop-filter: contrast(120%) saturate(120%) blur(15px) brightness(100%);
    transition: all 0.3s ease-in-out;
}
/* .Event-Container-Seperation{
    translate: -1.5vw;
    border-radius: 15px;
    padding:1vh;
    padding-left:3vh;
    padding-right:3vh;
    width: 30vw;
    backdrop-filter: contrast(120%) saturate(120%) blur(0px) brightness(100%);
    transition: all 0.3s ease-in-out;
}
.Event-Container-Seperation:hover{
    translate: -1.5vw;
    border-radius: 15px;
    padding:1vh;
    padding-left:3vh;
    padding-right:3vh;
    width: 30vw;
    backdrop-filter: contrast(120%) saturate(120%) blur(5px) brightness(100%);
    transition: all 0.3s ease-in-out;
} */