.Annoucement-Container{
    
    background-color: white;
    padding:1vh;
    padding-left:3vh;
    padding-right:3vh;
    width: 30vw;
    margin: auto;
    border-radius: 15px;
    background-color: rgba(255, 0, 21, 0.623);
    background-size: cover;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 3vw;
    translate: -3vw;
}
.Annoucement-Container:hover{
    background-color: rgba(255, 0, 21, 0.829);
    transition: all 0.3s ease-in-out;

}
.Annoucement-Container-Seperation{
    width: 25vw;
}