.App {
  text-align: center;
} 


/* Main div for slideshow */
.Landing-Div{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  animation: BgSlideShow 60s linear infinite;
  cursor: url("./Ressources/Images/Cursor/cercle.png"), auto;
}

@keyframes BgSlideShow {
  0%{
    background-image: url("./Ressources/Images/Background/bg3.jpeg");
  }
  25%{
    background-image: url("./Ressources/Images/Background/bg3.jpeg");

  }
  33%{
    background-image: url("./Ressources/Images/Background/bg2.jpeg");
  }
  50%{
    background-image: url("./Ressources/Images/Background/bg2.jpeg");
  }
  66%{
    background-image: url("./Ressources/Images/Background/bg1.jpeg");
  }
  90%{
    background-image: url("./Ressources/Images/Background/bg1.jpeg");
  }
  
}


/* Seperation layer to add blur and background color */
.Background-seperation{
  background-color: rgba(33, 35, 37, 0.63);
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;
}


/* The style below has eveything to do with the header */
.App-header {
  width: 100vw;
  height: 10vh;
  translate: 0vw 5vh ;
  margin: auto;
  transition: all 0.3s linear;
  z-index: 1;
  position: absolute;
  
}


.App-header div{
  float: left;
}

.Logo{
  width: 10vw;
  height: 10vh;
  translate: 5vw 0vh ;
}
.Logo img{
  width: 7vw;
  height: 7vh;
}
.LogoImg{
  width: 7vw;
  height: 7vh;
  transition: all 0.3s ease;
}

.Links{
  width: 40vw;
  height: 7vh;
  translate: 40vw 3vh;
}

.Links a{
  padding: 3vh;
  text-decoration: none;
  margin-top:10vh ;
  color: aliceblue;
  transition: all 0.3s ease ;
  font-size: 1.1vw;
}

.Links a:hover{
  color: rgb(206, 206, 206);
  transition: all 0.3s ease ;
}



/* the styles below has everything to do with the text and links present one the .landing-div */
.content{
  width: 70vw;
  margin: auto;
  text-align: left;
  color: white;
  translate: 0 30vh;
}
.content-p1{
  display: none;
  animation-duration: 2s;
  font-size: 1.2vw;
  width: 40vw;
}
.content-p2{
  display: none;
  animation-duration: 2s;
  font-size: 3vw;
  width: 40vw;
  translate: 0 -3vh;
}

.content-a1{
  display: none;
  animation-duration: 3s;
  font-size: 1vw;
  width: 40vw;
  color:white;
  text-decoration: none;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.content-a2{
  display: none;
  animation-duration: 3s;
  font-size: 1vw;
  width: 40vw;
  color:white;
  text-decoration: none;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border: 1px solid white;
  margin-left: 2vw;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.content-a1:hover{
  background-color: white;
  color:black;
  transition: all 0.3s ease-in-out;
}

.content-a2:hover{
  background-color: white;
  color:black;
  transition: all 0.3s ease-in-out;
}
.Event-Content{
  translate: 75vw 30vh;
  width: 20vw;
  max-height: 20vh;
  color: white;
  border:1px solid transparent;
  transition: all 0.3s ease;
  font-size: 1vw;
  cursor: pointer;
  display: none;
  animation-duration: 0.7s;
}
.Event-Content:hover{
  border:1px solid white;
  transition: all 0.3s ease;
}
.Event-Content-p{
  display: block;
  width: 20vw;
  height: 5vh;
  translate: 0 -2vh;
  padding-top: 2vh;
  padding-left: 2vw;
  text-align: left;
  font-size: 2.5vh;
}
.Event-Content-title{
  float: left;
  width: 15vw;
  max-height: 15vh;
  translate: 0 -6vh;
  padding-left: 2vw;
  text-align: left;
}

.Event-Content-link{
  display: inline-block;
  width: 3vw;
  max-height: 15vh;
  translate: 0 -6vh;
  text-align: left;
}



/* the styles below just to show the parallax effect and for further developement */
.white{
  width: 100vw;
  height: 200vh;
}
.about{
  width: 90vw;
  height:40vh;
  margin: auto;
  translate: 0 5vh;
  padding: 5vh;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.about-text{
  width: 40vw;
  margin: auto;
  text-align: left;
  display: none;
  animation-duration: 1s;
}
.about-text h2{
  font-size: 2.2vw;
  color: black;
}
.about-logo{
  width: 40vw;
  height: 30vw;
  display: none;
  animation-duration: 1s;
}
.about-logo img{
  width: 20vw;
  height: 10vw;
  translate: 0 8vh;

}
.about div{
  float: left;
}


.Top-Controllers{
  width: 100vw;
  height: 60vh;
  background-color: #00cf1c8a;
  translate: 0 -140vh;
  background-image: url("./Ressources/Images/Background/top-controller.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: none;
  animation-duration: 2s;
  
  /* animation: BgSlideShow 60s linear infinite; */
}
.Top-Controllers-Seperation{
  transition: all 0.3s ease-in-out;
  width: 100vw;
  height: 60vh;
}

.Top-Controllers-Seperation >div{
  width: 25vw;
  height: 50vh;
  background-color: white;
  border-radius: 15px;
  float: left;
  margin-left: 5vw;
  margin-top: 5vh;
  box-shadow: 0px 0px 20px grey;
  transition: all 0.3s ease-in-out;
  display: none;
  animation-duration: 2s;
}

.Top-Controllers-Seperation >div:hover{
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 20px rgb(44, 44, 44);
}

.Annoucements{
  width: 40vw;
  height :70vh;
  float: left;
  translate: 10vw -130vh;
  text-align: left;
  margin: auto;
  display: none;
  animation-duration: 1s;
}
.Annoucements>p{
  color : #5f5f5f!important
}

.Events{
  width: 40vw;
  height :70vh;
  float: left;
  margin: auto;
  translate: 10vw -130vh;
  text-align: left;
  display: none;
  animation-duration: 1s;
}

.Events >p{
  color : #5f5f5f!important;
  padding-left:3vh;
}
.Events >h1{
  
  padding-left:3vh;
}