@font-face {
  font-family: 'Hellix-Regular';
  src: url('Fonts/Hellix-Regular.woff2') format('woff2'),
       url('Fonts/Hellix-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

  font-family: 'Hellix-Bold';
  src: url('Fonts/Hellix-Bold.woff2') format('woff2'),
       url('Fonts/Hellix-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

  font-family: 'Hellix-Black';
  src: url('Fonts/Hellix-Black.woff2') format('woff2'),
       url('Fonts/Hellix-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Hellix-Regular', sans-serif;
}

h1 {
  font-family: 'Hellix-Black', sans-serif;
}

h2 {
  font-family: 'Hellix-Bold', sans-serif;
}