.Staff{
    width: 100vw;
    height: 200vh;
    background-color: rgb(216, 216, 216);
    
}

.Staff h1{
    text-align: left;
    translate: 10vw 10vh;
    font-family: Cera Pro,sans-serif;
}

.Staff div{
    float: left;
}


.Staff-Selector{
    width: 20vw;
    height: 50vh;
    outline:1px solid black;
    margin-top:20vh;
}

.Staff-Container{
    width: 80vw;
    height: 100vh;
    margin-top:10vh;
    overflow-y: scroll;
}

.Staff-Selector-Container{
    width: 20vw;
    height: 10vh;
    cursor: pointer;
}

.Staff-Selector-Container:hover{
    
}


.Staff-Selector-Container p{
    padding-top: 3vh;
}



/* Staff Component */

.Staff-Component{
    width: 30vw;
    height: 50vh;
    margin-left:7vw;
    margin-top:5vh;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Staff-Component:hover{
    /* background-color: rgb(207, 207, 207); */
    box-shadow: grey 50px 50px 100px;
    transition: all 0.3s ease;
}


.Staff-Component img{
    width: 10vw;
    margin-top: 5vh;

}